<!DOCTYPE html>
<html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Početna</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
      
        
  </head>
<body>
  <div class="topnav">
    <a class="active" href="/">Stanje</a>
    <div class="topnav-right">
      <a href="/login">Odjava</a>
    </div>
  </div>
  
  <table class="styled-table">
    <thead>
      <tr>
        {% for header in headings%}
        <th>{{header}}</th>
        {%endfor%}
      </tr>
    </thead>
    <tbody>
      {%for row in filament%}
        <tr>
        {%for cell in row%}
          <td>{{cell}}</td>
        {%endfor%}
        </tr>
      {%endfor%}
    </tbody>
  </table>


</body>
</html>
