<!DOCTYPE html>
<html lang="en">
      <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
      
        
  </head>
<body>
  <div class="topnav">
    <a class="active" href="/">Stanje</a>
    <div class="topnav-right">
      <a href="/login">Odjava</a>
    </div>
  </div>
    <h1>Početna stranica za USERA</h1>
    <h2>Nakon povezivanja sa db tu ce biti tablica</h2>
</body>
</html>
