<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"  />
  </head>
  <body>
    <br><br>
    <form action="/login" method="POST">
      <img src="static/images/FMS-logo.png" class="logo" />
      <input type="email" placeholder="Email adresa" name="email"/>
      <input type="password" placeholder="Lozinka" name="password"/>
      {% if error %}
        <p class="error-message">{{error}}</p>
      {% endif %}
      <button>Prijava</button>
    </form>
  </body>
</html>
 