<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8-BOM" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unos novog korisnika</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"  />
  </head>
  
  <body>
    <div class="topnav">
      <a class="active" href="/admin">Stanje</a>
      <a href="/new-user">Unos novog korisnika</a>
      <a href="/new-filament">Unos novog filamenta</a>
      <div class="topnav-right">
        <a href="/login">Odjava</a>
      </div>
    </div>

    <form action="/new-user" method="post">
      <img src="static/images/FMS-logo.png" class="logo" />
      
      <input type="email" placeholder="Email adresa" name="email"/>
      <input type="password" placeholder="Lozinka" name="password"/>
      {% if error %}
        <p class="error-message">{{error}}</p>
      {% endif %}
      <button>Potvrdi</button>
      
    </form>
  </body>
</html>